In [2]:
import pandas as pd

In [10]:
url_path = 'https://raw.githubusercontent.com/raybellwaves/cfanalytics/master/Data/Affiliate_list.csv'
affiliate_list = pd.read_csv(url_path)

In [11]:
affiliate_list.head()

,Unnamed: 0,Affiliate_id,Affiliate_name,Address,City,State,Zip,Country,Website,Phone,Latitude,Longitude
0,0,3,CrossFit Persist,"165 Amboy Ave, #705",Morganville,NJ,07751,United States,http://www.crossfitpersist.com/,(732) 687-1050,40.3604,-74.2894
1,1,4,Far North CrossFit,17 Finlayson Street,Whangarei,Northland,0110,New Zealand,http://www.farnorthcrossfit.com,021 022 09234,-35.7270,174.3274
2,2,5,CrossFit Dubuque,3080 Cedar Crest Ct.,Dubuque,IA,52003,United States,http://crossfitdubuque.com/,(563) 552-8423,42.4787,-90.7068
3,3,6,Ballston CrossFit,1110 North Glebe Rd,Arlington,VA,22201,United States,http://www.ballstoncrossfit.com/,(703) 688-2238,38.8838,-77.1172
4,4,8,CrossFit Moorabbin,16 Coachranes Road,Moorabbin,VIC,3189,Australia,http://www.crossfitmoorabbin.com,+61 (0)418 565 065,-37.9424,145.0619

In [15]:
df = affiliate_list.drop(columns=['Unnamed: 0']).set_index('Affiliate_id')
df.head(3)

,Affiliate_name,Address,City,State,Zip,Country,Website,Phone,Latitude,Longitude
Affiliate_id,,,,,,,,,,
3,CrossFit Persist,"165 Amboy Ave, #705",Morganville,NJ,07751,United States,http://www.crossfitpersist.com/,(732) 687-1050,40.3604,-74.2894
4,Far North CrossFit,17 Finlayson Street,Whangarei,Northland,0110,New Zealand,http://www.farnorthcrossfit.com,021 022 09234,-35.7270,174.3274
5,CrossFit Dubuque,3080 Cedar Crest Ct.,Dubuque,IA,52003,United States,http://crossfitdubuque.com/,(563) 552-8423,42.4787,-90.7068

In [24]:
grouped = df.groupby('Country')['Affiliate_name'].agg({'Affiliate_count':'count'})
grouped.sort_values(by = 'Affiliate_count', ascending = False)

/Users/JHO/.virtualenvs/accelerateHK3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

                                       Affiliate_count
Country
United States                                     7326
Brazil                                            1026
Australia                                          610
Italy                                              606
Canada                                             584
United Kingdom                                     544
France                                             410
Spain                                              406
Germany                                            299
Korea, Republic of                                 219
Netherlands                                        216
China                                              156
South Africa                                       145
Sweden                                             142
New Zealand                                        131
Argentina                                          124
Switzerland                                        120
Portugal                                           102
Belgium                                             89
Poland                                              88
Norway                                              82
Mexico                                              71
Ireland                                             67
Finland                                             66
Israel                                              65
Russian Federation                                  65
Denmark                                             63
Austria                                             54
Costa Rica                                          42
Chile                                               41
...                                                ...
Grenada                                              1
Slovenia                                             1
Djibouti                                             1
Guernsey                                             1
Guyana                                               1
Greenland                                            1
Fiji                                                 1
Faroe Islands                                        1
Jersey                                               1
Kosovo                                               1
Algeria                                              1
Macao                                                1
Macedonia                                            1
Mali                                                 1
Mauritius                                            1
Mozambique                                           1
Sint Maarten                                         1
Nigeria                                              1
Palestinian Territory                                1
Cook Islands                                         1
Congo, The Democratic Republic of the                1
Botswana                                             1
Saint Barthélemy                                     1
Saint Kitts and Nevis                                1
Saint Lucia                                          1
Saint Martin, French                                 1
Samoa                                                1
San Marino                                           1
Bonaire                                              1
Åland Islands                                        1

[155 rows x 1 columns]

In [44]:
df_us = df[df.Country=='United States']
g_df_us = df_us.groupby('State')['Affiliate_name'].agg({'Affiliate_count':'count'})
g_df_us.sort_values(by = 'Affiliate_count', ascending =False)

/Users/JHO/.virtualenvs/accelerateHK3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

       Affiliate_count
State
CA                 884
TX                 693
FL                 473
NY                 293
GA                 261
NC                 260
IL                 254
PA                 228
CO                 225
OH                 218
WA                 215
VA                 197
MA                 195
NJ                 184
MI                 161
AZ                 150
OR                 139
TN                 137
LA                 128
MO                 119
NV                 119
SC                 111
CT                 110
AL                 110
IN                 108
MN                 107
MD                 105
WI                 104
OK                  99
KY                  92
UT                  86
AR                  73
IA                  69
MS                  55
ID                  54
HI                  54
KS                  54
MT                  39
NH                  38
AK                  37
NM                  37
NE                  35
WV                  34
ME                  34
DE                  21
RI                  20
DC                  20
WY                  20
SD                  18
VT                  16
ND                  15
AE                   8
Tx                   1
La                   1
Fl                   1
AP                   1
Wa                   1
nc                   1

In [48]:
df_ca = df[df.Country=='Canada']
g_df_ca = df_ca.groupby('State')['Affiliate_name'].agg({'Affiliate_count':'count'})
g_df_ca.sort_values(by = 'Affiliate_count', ascending =False)

/Users/JHO/.virtualenvs/accelerateHK3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

       Affiliate_count
State
ON                 204
QC                 117
BC                  95
AB                  77
SK                  29
MB                  18
NS                  18
NB                  16
PE                   6
NL                   3
YT                   1

In [49]:
df_ch = df[df.Country=='C']
g_df_ch = df_ca.groupby('State')['Affiliate_name'].agg({'Affiliate_count':'count'})
g_df_ch.sort_values(by = 'Affiliate_count', ascending =False)

/Users/JHO/.virtualenvs/accelerateHK3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

       Affiliate_count
State
ON                 204
QC                 117
BC                  95
AB                  77
SK                  29
MB                  18
NS                  18
NB                  16
PE                   6
NL                   3
YT                   1

In [55]:
df_ch = df[(df.Country=='China') | (df.Country == 'Hong Kong') | (df.Country == 'Macau')]
g_df_ch = df_ch.groupby('State')['Affiliate_name'].agg({'Affiliate_count':'count'})
g_df_ch.sort_values(by = 'Affiliate_count', ascending =False)

/Users/JHO/.virtualenvs/accelerateHK3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

                    Affiliate_count
State
Beijing                          22
Shanghai                         16
Zhejiang                         14
Guangdong                        13
Jiangsu                          10
Fujian                            5
Guangdong Province                5
Sichuan                           4
Shaanxi                           4
Hong Kong                         4
Neimenggu A. R.                   4
Hunan                             4
Shandong                          4
Hubei                             4
GuangDong                         3
Chongqing                         3
JiangSu                           2
Zhejiang Province                 2
Liaoning                          2
zhejiang                          2
Guangxi A. R.                     2
Hubei Province                    1
Xinjiang A. R.                    1
yunnan                            1
sichuan                           1
shanghai                          1
shandong                          1
jiangsu                           1
guizhou                           1
guangdong                         1
Zhejiang Sheng                    1
Chaoyang                          1
GuangDong province                1
ZheJiang                          1
Yunnan Province                   1
Yunnan                            1
Tianjin                           1
HuNan                             1
Guangxi                           1
Shandong Province                 1
Guizhou Province                  1
Shaanxi Province                  1
HUNAN                             1
New Territories                   1
Hainan Province                   1
Liaoning Province                 1
HeNan                             1
Hebei                             1
Heilongjiang                      1
JIANGSU                           1
Anhui                             1